body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  width: 100%;
  color: #333;
  font-size: 4rem;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

div {
  margin-bottom: 20px;
}

.react-calendar {
  background-color: #aae2f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  transition: all 0.3s ease;
  padding: 8px;
}

.react-calendar__tile:hover {
  background-color: #a6c1ee;
  color: #545050;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

input {
  padding: 20px;
  width: 20%;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #a6c1ee;
  box-shadow: 0 0 5px rgba(166, 193, 238, 0.7);
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  background-color: #a6c1ee;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4f3ca2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.entry {
  background: linear-gradient(135deg, #fff, #f4f4f9);
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.entry:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.entry p {
  margin: 5px 0;
  color: #232121;
}

.entry .sentiment {
  font-weight: bold;
  color: #524e4e;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #1e964a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #26b13b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

@media (max-width: 600px) {
  input {
    width: 100%;
  }

  .entry {
    margin: 10px 0;
    padding: 10px;
  }

  .react-calendar {
    max-width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }
}



.LoginPage {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  display: flex;
  line-height: 3.5em;
  justify-content: center;
  overflow: hidden;
}
.greetingPage {
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  padding-top: 10%;
  height: 80vh;
  width: 40%;
  background-color: #1cc5a9;
  border-radius: 40px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.createAcc {
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  margin-top: 5%;
  background: #11e9a8;
  border-radius: 40px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

input {
  height: 5vh;
  width: 20vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  font-size: medium;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #10d4a3;
  box-shadow: 0px 0px 5px rgba(16, 212, 163, 0.5);
  outline: none;
}

.form-group {
  text-align: center;
  line-height: 2em;
  padding: 10px;
  margin: 10px;
}

.signUpButton {
  background: linear-gradient( #10d4a3, #08a785);
  border-radius: 30px;
  height: 5vh;
  width: 5rem;
  font-size: large;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.signUpButton:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.signInPage {
  background: linear-gradient( #54db66, #3ca555);
  border-radius: 30px;
  height: 5vh;
  width: 10rem;
  font-size: large;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.signInPage:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.label {
  font-size: 3em;
  font-weight: bold;
  color: #333;
}
.hh2{
  color:white;
}
@media(max-width: 1200px) {
  .LoginPage {
    flex-wrap: wrap;
    padding: 20px;
  }
  .greetingPage, .createAcc {
    width: 45%;
    margin: 10px;
  }
  input {
    width: 30vw;
  }
}


@media (max-width: 768px) {
  .greetingPage, .createAcc {
    width: 90%;
    position: relative;
    margin: 10px auto;
  }
  input {
    width: 80%;
  }
}


@media (max-width : 480px){
  .greetingPage, .createAcc {
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
  }
  .signUpButton, .signInPage{
    width: 8rem;
    height: 4vh;
    font-size: medium;
  }
  input {
    width: 90%;
    height: 4vh;
  }

  .label {
    font-size: 1.5em;
  }

  .hh2{
    font-size: 1.5em;
    color: white;
  }
}